*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #DB7F67;

}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    left:200px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
   color: rgb(226, 226, 226);
   text-decoration: none;
   letter-spacing: 3px;
}

.nav-links li{
   list-style: none;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
             position: absolute;
             right: 0px;
             height: 92vh;
             top: 8vh;
             background-color: #DB7F67;
             display: flex;
             flex-direction: column;
             align-items: center;
             width: 40%;
             transform: translateX(100%);
             transition: transform 0.5s ease-in;
    }
    .nav-links li{
         opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}
@keyFrames navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px):
    }
    to{
        opacity: 1;
                transform: translateX(0px):
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

#showcase{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("background.jpg");
    height: 92vh;
    background-position: center;
    background-size: cover;
    color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#showcase h1{
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 90%;
    margin-bottom: 10px;

}
#showcase p{
    font-size: 20px;
    margin-bottom: 30px;
}
#showcase .button{
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right, #DB7F67, #FCD757);
    border-radius: 30px;
    transition: .5s;
    color: black;

}
.showcase-text{
    margin-left: 15%;
    margin-right: 15%;
}
.login-page{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("background.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    font-family: 'Raleway', sans-serif;
}

.login-form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.login-button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #FDF5D8;
    border-radius: 30px;
}
.login-toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    left: 6px;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #DB7F67, #FCD757);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;

    background: linear-gradient(to right, #DB7F67, #FCD757);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.login-checkbox{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 62px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
